* {
  margin: 0;
  padding: 0;
}

:root {
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  /*line-height: 1.5;*/
  /*font-weight: 400;*/
  background-color: #1b1b1f;
  color: #aeaeb5;
  --header-height: 50px;
}

main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "topbar topbar topbar"
    "timeline list details";
  grid-template-columns: 10vw 60vw 30vw;
  grid-template-rows: var(--header-height) calc(100vh - 50px);
}

header {
  grid-area: topbar;
}

nav {
  grid-area: timeline;
}

#list {
  grid-area: list;
}

#details {
  grid-area: details;
}
